body {
  background-color: lavender;
  align-items: center;
  text-align: center;
  font-family: "Arial", sans-serif;
}

@media (max-width: 575px) {
  body {
    flex-wrap: wrap;
  }
}
#character {
  width: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "box-1 box-2 box-5 box-5"
    "box-3 box-4 box-6 box-6";
  gap: 0.5em;

  justify-content: center;
  /* height: 20vh; */
  align-items: center;

  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
}

#maxNmin {
  border-width: 3px;
  border-style: dashed;
  border-color: green;
  border-radius: 10px;
  /* padding: 10px; */
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightcoral;
}
#currentTemp {
  /* border-width: 3px;
  border-style: dashed;
  border-color: green;
  border-radius: 10px;
  padding: 50px; */
}
weekContainer {
  padding: 100px;
  /* min-height: 100px; */
  /* display: flex;
   flex-wrap: wrap; */
  background-color: red;
  gap: 20px;
}

#week {
  /* min-height: 100px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px dashed pink;
  border-radius: 10px;
  gap: 20px;
  /* flex-wrap: wrap; */
  background-color: lightyellow;
}

#week > div {
  border: 2px solid purple;
  display: flex;
  flex-wrap: wrap;
  height: 8vh;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  // 그리드 레이아웃 적용
  /* grid-auto-columns: 300px;
  grid-auto-rows:300px;
  grid-auto-flow: column; */
}

#day1 {
  background-color: lightblue;
}
